/* variables */
.social-links, .login-page-sec, .socila-icon-bx, .c-dv, .footer-sec .footer-links ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

.social-links, .login-page-sec, .socila-icon-bx, .footer-sec .footer-links ul {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap; }

/* common class */
body {
  font-size: 20px;
  line-height: 2.2rem;
  color: #222222;
  font-family: 'Raleway', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  font-weight: normal; }

h1, .h1 {
  font-size: 3rem; }

h2, .h2 {
  font-size: 56px; }

h3, .h3 {
  font-size: 32px; }

h4, .h4 {
  font-size: 20px; }

a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  outline: none;
  display: inline-block;
  text-decoration: none;
  color: #004a7f; }
  a:hover, a:focus {
    text-decoration: none; }

img {
  max-width: 100%; }

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem; }

p:last-child {
  margin-bottom: 0; }

.text-gray {
  color: #dbdfe9; }

.text-white {
  color: #ffffff; }

.bg-gray {
  background-color: #dbdfe9; }

.bg-black {
  background-color: #222222; }

.img span {
  display: inline-block; }

.max-bx {
  max-width: 1000px; }

.common-sec {
  padding: 5rem 0; }

.common-btn {
  padding: 0.5rem 1.5rem;
  border-radius: 0;
  border: 2px solid #004a7f;
  background-color: #004a7f;
  color: #ffffff;
  min-width: 150px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 1; }
  .common-btn:hover, .common-btn:focus {
    -webkit-box-shadow: 0 10px 20px 0px rgba(23, 64, 130, 0.4);
    -moz-box-shadow: 0 10px 20px 0px rgba(23, 64, 130, 0.4);
    -ms-shadow: 0 10px 20px 0px rgba(23, 64, 130, 0.4);
    box-shadow: 0 10px 20px 0px rgba(23, 64, 130, 0.4);
    color: #ffffff; }

.common-btn.round-btn {
  max-width: 300px;
  font-size: 18px;
  text-align: center;
  text-transform: none;
  line-height: 24px;
  border-radius: 50px;
  overflow: hidden; }

.row-5 {
  margin: 0 -5px; }
  .row-5 [class*="col-"] {
    padding: 0 5px; }

.form-control {
  border-radius: 0; }
  .form-control:hover, .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-shadow: none;
    box-shadow: none; }

.common-box-shadow {
  -webkit-box-shadow: 0 1px 20px 0px rgba(37, 39, 52, 0.13);
  -moz-box-shadow: 0 1px 20px 0px rgba(37, 39, 52, 0.13);
  -ms-shadow: 0 1px 20px 0px rgba(37, 39, 52, 0.13);
  box-shadow: 0 1px 20px 0px rgba(37, 39, 52, 0.13); }

.box-shadow-blue {
  -webkit-box-shadow: 0 1px 20px 0px rgba(23, 64, 130, 0.18);
  -moz-box-shadow: 0 1px 20px 0px rgba(23, 64, 130, 0.18);
  -ms-shadow: 0 1px 20px 0px rgba(23, 64, 130, 0.18);
  box-shadow: 0 1px 20px 0px rgba(23, 64, 130, 0.18); }

.border-transparent {
  border-color: transparent !important; }

.social-links {
  padding: 0;
  margin: 0;
  list-style: none; }
  .social-links li {
    margin: 1rem; }
    .social-links li a {
      height: 50px;
      width: 50px;
      line-height: 50px;
      border: 1px solid #004a7f;
      color: #004a7f;
      text-align: center;
      border-radius: 100%;
      position: relative;
      z-index: 1;
      overflow: hidden; }

.accordian-sec .card {
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 2rem;
  border: 1px solid #d4d5d9; }
.accordian-sec .a-title {
  padding: 1.5rem 1.5rem;
  color: #004a7f; }
  .accordian-sec .a-title .heading {
    margin-right: 15px;
    width: calc(100% - 45px); }
  .accordian-sec .a-title .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #222222;
    border-radius: 100%;
    position: relative; }
    .accordian-sec .a-title .icon:before, .accordian-sec .a-title .icon:after {
      content: '';
      background-color: #222222;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .accordian-sec .a-title .icon:before {
      height: 2px;
      width: 15px; }
    .accordian-sec .a-title .icon:after {
      position: absolute;
      width: 2px;
      height: 15px; }
.accordian-sec .card-body {
  padding: 1.5rem 1.5rem; }
.accordian-sec .card-header {
  padding: 0;
  background: none;
  border-bottom: none; }
  .accordian-sec .card-header:first-child {
    border-radius: 0; }
  .accordian-sec .card-header .icon {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .accordian-sec .card-header .icon .minus {
      display: none; }
  .accordian-sec .card-header .a-title[aria-expanded=true] .icon {
    border-color: #004a7f; }
    .accordian-sec .card-header .a-title[aria-expanded=true] .icon:before, .accordian-sec .card-header .a-title[aria-expanded=true] .icon:after {
      background-color: #004a7f; }
    .accordian-sec .card-header .a-title[aria-expanded=true] .icon:after {
      display: none; }

.custom-form-sec .input-bx {
  margin-bottom: 2.5rem;
  position: relative; }
  .custom-form-sec .input-bx input, .custom-form-sec .input-bx textarea {
    border-width: 0;
    border-bottom-width: 1px; }
  .custom-form-sec .input-bx label {
    position: absolute;
    top: -15px;
    left: 0;
    margin: 0;
    color: #222222;
    line-height: 16px;
    padding: 0 5px;
    pointer-events: none;
    transition: 0.5s;
    -webkit-transform: translateY(24px);
    -moz-transform: translateY(24px);
    -ms-transform: translateY(24px);
    transform: translateY(24px); }
  .custom-form-sec .input-bx input:focus + label,
  .custom-form-sec .input-bx textarea:focus + label {
    top: -8px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
.custom-form-sec .input-bx.floating label {
  top: -8px;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.custom-modal .close {
  position: absolute;
  outline: none !important;
  position: absolute;
  right: 15px;
  top: 15px; }
.custom-modal .modal-body {
  padding: 50px 30px; }

.site-navigation {
  padding: 30px 50px; }
  .site-navigation ul li a {
    font-weight: 500;
    color: #222222;
    padding: 10px 20px !important; }
    .site-navigation ul li a:hover, .site-navigation ul li a:focus {
      color: #004a7f; }
  .site-navigation .navbar-toggler {
    padding: 0;
    outline: none;
    margin-left: auto; }
    .site-navigation .navbar-toggler .toggler-icon {
      display: block;
      width: 30px;
      height: 5px;
      height: 2px;
      border-radius: 30%;
      background-color: #004a7f;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      margin-left: auto; }
      .site-navigation .navbar-toggler .toggler-icon:nth-child(2) {
        margin-top: 5px;
        margin-bottom: 5px; }
  .site-navigation .navbar-toggler[aria-expanded=true] .toggler-icon:nth-child(1) {
    width: 15px; }
  .site-navigation .navbar-toggler[aria-expanded=true] .toggler-icon:nth-child(2) {
    width: 20px; }

@media (max-width: 991px) {
  .site-navigation {
    padding: 20px; }
    .site-navigation .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: white;
      background-color: #004a7f;
      z-index: 1; }
      .site-navigation .navbar-collapse a {
        color: #fff !important; } }
.login-page-sec {
  height: 100vh;
  align-items: center; }
  .login-page-sec .logo-dv {
    margin-bottom: 100px; }
  .login-page-sec .login-form-dv {
    max-width: 400px;
    margin: 0 auto; }
    .login-page-sec .login-form-dv .pass-bx {
      margin-bottom: 10px; }
    .login-page-sec .login-form-dv .forgot {
      font-size: 18px; }
    .login-page-sec .login-form-dv .common-btn {
      width: 100%;
      max-width: none; }
  .login-page-sec .sign-up-dv {
    margin-top: 50px; }

.signUp-modal .modal-title {
  font-weight: 600; }
.signUp-modal .desc {
  font-size: 18px; }
.signUp-modal .input-bx label {
  font-size: 18px; }
.signUp-modal .common-btn {
  min-width: 200px; }

.socila-icon-bx {
  justify-content: space-between;
  font-size: 18px;
  margin: 0 -10px; }
  .socila-icon-bx .s-link {
    display: block;
    padding: 0 10px;
    flex: 1; }
    .socila-icon-bx .s-link a {
      padding: 5px 20px;
      border-radius: 3px;
      width: 100%; }
  .socila-icon-bx .s-facebook a,
  .socila-icon-bx .s-twitter a {
    color: #fff; }
  .socila-icon-bx .s-google a {
    border: 1px solid #d4d5d9; }
  .socila-icon-bx .s-facebook a {
    border: 1px solid #3c5a9a;
    background-color: #3c5a9a; }
  .socila-icon-bx .s-twitter a {
    border: 1px solid #00acee;
    background-color: #00acee; }

.saprater {
  margin: 15px 0; }

.home-slider-sec {
  padding: 0 35px; }
  .home-slider-sec .mkdf-tfih-frame .mkdf-tfih-top-bar {
    display: none !important; }
  .home-slider-sec .common-btn.round-btn {
    max-width: 315px; }

@media (min-width: 1600px) {
  .home-slider-container {
    min-height: calc(100vh - 115px);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center; } }
@media (max-width: 1400px) {
  .mkdf-elements-holder {
    margin-top: -75px; } }
@media (max-width: 991px) {
  .mkdf-elements-holder {
    margin-top: 100px; }

  .mkdf-elements-holder {
    margin-top: 0; } }
.features-sec .count-bx {
  counter-reset: count; }

.feature-count-bx {
  align-items: flex-start; }
  .feature-count-bx .icon {
    width: 60px;
    height: 60px;
    font-size: 3rem;
    line-height: 50px;
    text-align: center;
    margin-right: 15px;
    color: #fff;
    border: 1px solid #004a7f;
    background-color: #004a7f;
    border-radius: 100%; }
    .feature-count-bx .icon:before {
      counter-increment: count;
      content: counter(count); }
  .feature-count-bx .entry-txt {
    width: calc(100% - 75px); }
  .feature-count-bx .heading {
    margin-bottom: 1rem; }

@media (max-width: 767px) {
  .feature-count-bx .icon {
    width: 40px;
    height: 40px;
    font-size: 2rem;
    line-height: 34px; } }
.c-dv .icon {
  width: 50px;
  margin-right: 5px; }
.c-dv .entry-txt {
  width: calc(100% - 55px); }
  .c-dv .entry-txt .heading {
    color: #004a7f; }
  .c-dv .entry-txt a {
    color: #222222; }
    .c-dv .entry-txt a:hover {
      color: #004a7f; }

.contact-from-bx .input-bx {
  border: 1px solid #222222;
  padding: 15px; }
  .contact-from-bx .input-bx label {
    margin-bottom: 0; }
.contact-from-bx .email-input-bx {
  margin-left: -1px; }
.contact-from-bx .msg-input-bx {
  margin-top: -1px; }
.contact-from-bx .form-control {
  border: none;
  padding: 0; }
.contact-from-bx .common-btn {
  min-width: 250px; }

.help-sec .accordian-sec {
  max-width: 950px;
  margin: 0 auto; }

.pricing-entry-txt {
  border: 2px solid #e1e1e1;
  padding: 15px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 100%; }
  .pricing-entry-txt:hover, .pricing-entry-txt:focus {
    -webkit-box-shadow: 0 1px 20px 0px rgba(37, 39, 52, 0.13);
    -moz-box-shadow: 0 1px 20px 0px rgba(37, 39, 52, 0.13);
    -ms-shadow: 0 1px 20px 0px rgba(37, 39, 52, 0.13);
    box-shadow: 0 1px 20px 0px rgba(37, 39, 52, 0.13);
    border-color: transparent;
    padding: 30px 15px;
    margin: -15px 0; }
  .pricing-entry-txt .type {
    color: #ffac2a;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold; }
  .pricing-entry-txt .type-sub {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    min-height: 50px; }
  .pricing-entry-txt .price {
    color: #004a7f;
    text-align: center;
    margin: 10px 0;
    line-height: 60px; }
    .pricing-entry-txt .price span {
      vertical-align: middle; }
    .pricing-entry-txt .price .curr, .pricing-entry-txt .price .dgts {
      font-size: 30px; }
    .pricing-entry-txt .price .amn {
      font-size: 100px;
      font-weight: bold; }
  .pricing-entry-txt .info {
    margin-top: 50px; }
    .pricing-entry-txt .info ul li {
      position: relative;
      font-size: 15px;
      padding-left: 20px; }
      .pricing-entry-txt .info ul li:before {
        content: '\f00c';
        font: normal normal normal 14px/1 FontAwesome;
        color: #004a7f;
        position: absolute;
        left: 0;
        top: 10px; }
  .pricing-entry-txt .link {
    margin-top: 30px;
    text-align: center; }
    .pricing-entry-txt .link .common-btn {
      min-width: 180px;
      text-transform: uppercase;
      background-color: #fff;
      color: #222222;
      border-color: #222222;
      border-width: 1px; }
      .pricing-entry-txt .link .common-btn:hover, .pricing-entry-txt .link .common-btn:focus {
        border-color: #222222;
        -webkit-box-shadow: 0 5px 12px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 12px 0px rgba(0, 0, 0, 0.2);
        -ms-shadow: 0 5px 12px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 12px 0px rgba(0, 0, 0, 0.2); }

.pricing-bottom-txt {
  font-size: 16px; }

.footer-sec {
  padding-top: 5rem;
  font-size: 16px; }
  .footer-sec .footer-logo {
    margin-bottom: 0.5rem; }
  .footer-sec .footer-links ul {
    padding: 0;
    list-style: none;
    justify-content: center; }
    .footer-sec .footer-links ul li a {
      padding: 10px 15px;
      color: #222222; }
      .footer-sec .footer-links ul li a:hover, .footer-sec .footer-links ul li a:focus {
        color: #004a7f; }
  .footer-sec .social-links {
    justify-content: center; }

.copyright-sec {
  padding: 15px 0;
  font-size: 14px; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 550px; } }
@media (min-width: 1600px) {
  .container {
    max-width: 1400px; } }
@media (max-width: 1400px) {
  body {
    font-size: 16px; }

  h1, .h1 {
    font-size: 2.5rem; }

  h2, .h2 {
    font-size: 36px; }

  h3, .h3 {
    font-size: 26px; }

  h4, .h4 {
    font-size: 16px; }

  .pricing-entry-txt .price .amn {
    font-size: 60px;
    line-height: 60px; } }
@media (max-width: 991px) {
  body {
    font-size: 18px; }

  h2, .h2 {
    font-size: 42px; } }
@media (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 2rem; }

  h2, .h2 {
    font-size: 32px; }

  h3, .h3 {
    font-size: 24px; }

  h4, .h4 {
    font-size: 18px; } }
@media (max-width: 575px) {
  .common-sec {
    padding: 3rem 0; }

  h2, .h2 {
    font-size: 28px; }

  h3, .h3 {
    font-size: 22px; } }

/*# sourceMappingURL=main.css.map */
